* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lexend, Arial, Helvetica, sans-serif;
}

:root {
    --background: #3c5b6f;
    --container: #fefaf6;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
}

body > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.blur-sect {
    width: 60%;
    min-width: 60%;
    height: 80vh;
    /* border: 3px solid var(--container); */
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(5px);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-template-rows: 10% 90%;
    grid-template-areas:
        'searchbar searchbar'
        'main forecast';

    position: absolute;
    z-index: 1;
}

#search {
    grid-area: searchbar;

    display: flex;
    justify-content: center;
    align-items: center;
}

#search input {
    width: 50%;
    height: 80%;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

#search input:focus {
    outline: none;
}

.panel {
    color: white;
    border: 2px solid red;
    border-radius: inherit;
}

#main-display {
    grid-area: main;
    width: 100%;

    display: grid;
    grid-template-rows: 50% auto 10% 10%;
    grid-template-areas:
        '.'
        'temperature'
        'location'
        'time-max-min';
}

#main-display > div {
    /* border: 1px solid red; */
    padding-left: 4rem;
}

#temperature {
    grid-area: temperature;
    height: 100%;
    container-type: size;

    display: flex;
    align-items: flex-end;
}

#temperature h1 {
    font-size: 70cqh;
}

#temperature span {
    font-size: 30cqh;
    align-self: flex-start;
}

#location {
    grid-area: location;
    font-size: 1.5rem;

    display: flex;
}

#time-max-min {
    grid-area: time-max-min;
    font-size: 1.2rem;
    container-type: size;

    display: inline-flex;
    gap: 1.5rem;
}

#time-max-min > div {
    display: inline-flex;
    height: 100%;
}

#time-max-min > div span {
    font-size: 25cqh;
}

#forecast {
    grid-area: forecast;

    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-areas:
        'hourly'
        'fiveDay';
}

#forecast > div {
    margin: 10px;
    border: 2px solid red;
    border-radius: 20px;
}

#hourly-forecast {
    grid-area: hourly;
    grid-template-rows: 25% 75%;
    grid-template-columns: 1fr;
    grid-template-areas:
        'current-condition'
        'hourly-interval';
}

.forecast-info {
    display: grid;
}

.forecast-info > div {
    padding: 1rem;
}

div#current-condition {
    grid-area: current-condition;
}

.heading {
    border: none;
    border-bottom: 2px solid var(--container);
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    font-size: 1rem;
}

#hourly-interval {
    grid-area: hourly-interval;
    container-type: inline-size;

    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr;
    overflow: hidden;
}

#hourly-interval.active {
    overflow-x: scroll;
}

#hourly-interval > div {
    width: calc(100cqw / 4);
    height: 100%;

    border: 1px solid red;
}

.hourlyElem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    container-type: size;
}

.hourlyElem > * {
    height: 100%;
}

#five-day-forecast {
    grid-area: fiveDay;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        'heading'
        'day-interval';
}

#forecast-heading {
    grid-area: heading;
    container-type: size;
    font-size: 2.5cqb;

    display: flex;
    align-items: flex-end;
}

#day-interval {
    grid-area: day-interval;

    display: grid;
    gap: 1rem;
    grid-template-columns: max-content max-content auto;
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    grid-template-areas: 'days weatherIcons minMaxTemp';
    align-items: center;
}

.minMaxDayTemp {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.minMaxDayBarContainer {
    width: 100%;
}

.minMaxDayBar {
    width: 100%;
    border: 0px;
    border-radius: 5px;
    background-color: var(--background);
    height: 7px;
    position: relative;

    container-type: size;
}

.minMaxDayRange {
    /* width: calc(100cqw - 23cqw); */
    /* margin-left: 23cqw; */
    height: 100%;
    background: linear-gradient(to right, rgb(9, 185, 243), rgb(255, 166, 0));
    border-radius: inherit;
}

.minMaxDayPlacemark {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -1.5px;
    left: 0;
    /* margin-left: 49cqw; */
}

.days {
    font-size: 1rem;
}

/* iPhone 12 */
@media screen and (min-width: 390px) {
    #backgroundImg {
        height: auto;
        width: 100%;
    }

    .blur-sect {
        width: 100%;
        height: 100%;

        grid-template-rows: 5% repeat(2, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas:
            'searchbar'
            'main'
            'forecast';
    }

    #search {
        width: 100%;
    }

    #search input {
        font-size: 1rem;
        text-align: center;
    }

    #forecast-heading {
        font-size: 1rem;
    }

    #day-interval {
        grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    }

    #forecast {
        grid-template-rows: repeat(auto-fit, 50%);
    }

    #main-display {
        grid-template-rows: repeat(3, minmax(20px, 1fr));
        grid-template-columns: 1fr;
        grid-template-areas:
            'temperature'
            'location'
            'time-max-min';
    }
}

/* Asus Zenfold */
@media screen and (min-width: 391px) {
    .blur-sect {
        width: 70%;
        height: 70%;

        grid-template-rows: 5% 30% 65%;
        font-size: 1rem;
    }

    #forecast-heading {
        font-size: 1.2rem;
    }

    #backgroundImg {
        height: 100%;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .blur-sect {
        width: 60%;
        height: 80vh;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        grid-template-rows: 10% 90%;
        grid-template-areas:
            'searchbar searchbar'
            'main forecast';
    }

    #main-display {
        display: grid;
        grid-template-rows: 50% auto 10% 10%;
        grid-template-areas:
            '.'
            'temperature'
            'location'
            'time-max-min';
    }

    #search input {
        font-size: 20px;
        text-align: start;
    }

    #day-interval {
        grid-template-columns: max-content max-content auto;
        grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
        grid-template-areas: 'days weatherIcons minMaxTemp';
    }

    #forecast {
        grid-template-rows: 40% 60%;
        grid-template-areas:
            'hourly'
            'fiveDay';
    }

    #forecast-heading {
        font-size: 2.5cqb;
    }
}
