* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lexend, Arial, Helvetica, sans-serif;
}

:root {
    --background: #3c5b6f;
    --container: #fefaf6;
    --panel: #f6f5f2;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
}

body > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.blur-sect {
    width: 60%;
    min-width: 60%;
    height: 80vh;
    /* border: 3px solid var(--container); */
    border-radius: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-template-rows: 10% 90%;
    grid-template-areas:
        'searchbar searchbar'
        'main forecast';

    position: absolute;
    z-index: 1;
}

#search {
    grid-area: searchbar;

    display: flex;
    justify-content: center;
    align-items: center;
}

#search input {
    width: 50%;
    height: 80%;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

#search input:focus {
    outline: none;
}

.panel {
    color: white;
    border: 2px solid transparent;
    border-radius: inherit;
}

#main-display {
    grid-area: main;
    width: 100%;

    display: grid;
    grid-template-rows: 50% auto 10% 10%;
    grid-template-areas:
        '.'
        'temperature'
        'location'
        'time-max-min';
    /* background-color: transparent; */
    backdrop-filter: blur(10px);
}

#main-display > div {
    padding-left: 4rem;
}

#temperature {
    grid-area: temperature;
    height: 100%;
    container-type: size;

    display: flex;
    align-items: flex-end;
}

#temperature h1 {
    font-size: 70cqh;
}

#temperature span {
    font-size: 30cqh;
    align-self: flex-start;
}

#location {
    grid-area: location;
    font-size: 1.5rem;

    display: flex;
}

#time-max-min {
    grid-area: time-max-min;
    font-size: 1.2rem;
    container-type: size;

    display: inline-flex;
    gap: 1.5rem;
}

#time-max-min > div {
    display: inline-flex;
    height: 100%;
}

#time-max-min > div span {
    font-size: 25cqh;
}

#forecast {
    grid-area: forecast;
    border: none;

    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-areas:
        'hourly'
        'fiveDay';
}

#forecast > div {
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

div#hourly-forecast {
    grid-area: hourly;
    grid-template-rows: 25% 75%;
    grid-template-columns: 1fr;
    grid-template-areas:
        'current-condition'
        'hourly-interval';
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.forecast-info {
    display: grid;
}

.forecast-info > div {
    padding: 1rem;
}

div#current-condition {
    grid-area: current-condition;
}

.heading {
    border: none;
    border-bottom: 2px solid var(--container);
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    font-size: 1rem;
}

#hourly-interval {
    grid-area: hourly-interval;
    container-type: inline-size;

    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr;
    overflow: hidden;
}

#hourly-interval.active {
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: lightblue var(--background);
}

#hourly-interval > div {
    width: calc(100cqw / 4);
    height: 100%;

    /* border: 1px solid red; */
}

.hourlyElem {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 50% min-content;
    place-items: center;

    container-type: size;
}

.hourlyElem > * {
    height: 100%;
}

#five-day-forecast {
    grid-area: fiveDay;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        'heading'
        'day-interval';
}

#forecast-heading {
    grid-area: heading;
    container-type: size;
    font-size: 2.5cqb;

    display: flex;
    align-items: flex-end;
}

#day-interval {
    grid-area: day-interval;

    display: grid;
    gap: 1rem;
    grid-template-columns: max-content max-content auto;
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    grid-template-areas: 'days weatherIcons minMaxTemp';
    align-items: center;
}

.minMaxDayTemp {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.minMaxDayBarContainer {
    width: 100%;
}

.minMaxDayBar {
    width: 100%;
    border: 0px;
    border-radius: 5px;
    background-color: var(--background);
    height: 7px;
    position: relative;

    container-type: size;
}

.minMaxDayRange {
    height: 100%;
    background: linear-gradient(to right, rgb(9, 185, 243), rgb(255, 166, 0));
    border-radius: inherit;
}

.minMaxDayPlacemark {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -1.5px;
    left: 0;
}

.dayWeatherIcon {
    width: 3.5rem;
}

.days {
    font-size: 1rem;
}

/* Screens with 1300px width */
@media screen and (max-width: 1300px) {
    .blur-sect {
        width: 70%;
        height: 70%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 90%;
        grid-template-areas:
            'searchbar searchbar'
            'main forecast';
        font-size: 1rem;
    }

    #main-display {
        display: grid;
        grid-template-rows: 50% auto 10% 10%;
        grid-template-areas:
            '.'
            'temperature'
            'location'
            'time-max-min';
    }

    #search input {
        font-size: 20px;
        text-align: start;
    }

    #day-interval {
        grid-template-columns: max-content max-content auto;
        grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
        grid-template-areas: 'days weatherIcons minMaxTemp';
    }

    #forecast {
        grid-template-rows: 40% 60%;
        grid-template-areas:
            'hourly'
            'fiveDay';
    }

    #forecast-heading {
        font-size: 2.5cqb;
    }

    #backgroundImg {
        width: 100%;
        height: 100%;
    }

    #day-interval {
        grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    }
}

/* Screens with 1000px width */
@media screen and (max-width: 1000px) {
    .blur-sect {
        width: 60%;
        height: 60%;
    }

    #main-display {
        grid-template-rows: 50% 30% repeat(2, 10%);
        grid-template-areas:
            '.'
            'temperature'
            'location'
            'time-max-min';
    }

    #main-display > div {
        padding-left: 1rem;
    }

    #time-max-min {
        gap: 1rem;
    }

    #forecast {
        grid-template-rows: 40% 60%;
    }

    #forecast-heading {
        font-size: 2cqb;
        padding: 0.5rem;
    }

    #current-condition {
        font-size: 0.8rem;
        padding: 0.5rem;
        align-self: flex-end;
    }

    #day-interval {
        grid-template-rows: repeat(auto-fit, minmax(1em, 1fr));
        gap: 0.2rem;
    }

    .days {
        font-size: 0.8em;
    }

    .dayWeatherIcon {
        width: 2.5rem;
    }

    .hourlyElem > * {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 900px) {
    .blur-sect {
        grid-template-columns: 1fr;
        grid-template-rows: 10% 20% 70%;
        grid-template-areas:
            'searchbar'
            'main'
            'forecast';

        width: 60%;
        height: 95%;
    }

    #search > input {
        height: auto;
    }

    #main-display {
        grid-template-rows: 60% 20% 20%;
        grid-template-columns: 1fr;
        grid-template-areas:
            'temperature'
            'location'
            'time-max-min';
    }

    #current-condition {
        font-size: 1rem;
    }

    .hourlyElem > div {
        font-size: 1rem;
    }

    #forecast-heading {
        font-size: 2.5cqb;
    }

    .days,
    .minMaxDayTemp {
        font-size: 1rem;
    }

    .dayWeatherIcon {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .blur-sect {
        width: 100%;
        height: 100%;
    }

    #day-interval {
        grid-template-columns: max-content 2.5rem auto;
    }

    .dayWeatherIcon {
        width: 100%;
    }

    .days,
    .minMaxDayTemp {
        font-size: 0.8rem;
    }

    #time-max-min > div {
        font-size: 0.8rem;
    }
}
